<a href="https://colab.research.google.com/github/enguyen120/BigDataProject/blob/main/MediaScrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#imports
import os
import pandas as pd

In [ ]:
#mount gdrive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Adi check access - replace this with your own filepath
import os
os.listdir("/content/drive/MyDrive/Schoolwork/Big Data Final")

['media-bias-fc-scrape.csv',
 'Big Data Adi, Emma, and Emma.gslides',
 'project.ipynb',
 'Bag of Words.ipynb',
 'Adi.ipynb',
 'Final Project.gdoc',
 'MediaScrape.ipynb']

In [ ]:
#Adi load data
df = pd.read_csv("/content/drive/MyDrive/Schoolwork/Big Data Final/media-bias-fc-scrape.csv")

In [ ]:
df.head()

,site_name,url,bias_png,factual_reporting
0,Act.TV,http://act.tv,left4,HIGH
1,Addicting Info,http://addictinginfo.com,left5,MIXED
2,Advocate,http://www.advocate.com/,left8,HIGH
3,Akkadian Times,http://akkadiantimes.com,left8,HIGH
4,Alliance for Justice (AFJ),https://www.afj.org/,left8,HIGH

In [ ]:
#https://stackoverflow.com/questions/41719259/how-to-remove-numbers-from-string-terms-in-a-pandas-dataframe
df["bias_png"] = df["bias_png"].str.replace('\d+', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
df['bias_png'].unique()

array(['left', 'extremeleft', 'leftcenter', 'leastbiased', 'rightcenter',
       'right', 'extremeright'], dtype=object)

In [ ]:
def sorter(x):
  if x == "left":
    return 1
  elif x == "extremeleft":
    return 1
  elif x == "leftcenter":
    return 1
  elif x == "leastbiased":
    return 0.5
  elif x == "rightcenter":
    return 0
  elif x == "right":
    return 0
  elif x == "extremeright":
    return 0

df['bias'] = df['bias_png'].apply(sorter)

In [ ]:
df['bias'].unique()

array([1. , 0.5, 0. ])

In [ ]:
df

,site_name,url,bias_png,factual_reporting,bias
0,Act.TV,http://act.tv,left,HIGH,1.0
1,Addicting Info,http://addictinginfo.com,left,MIXED,1.0
2,Advocate,http://www.advocate.com/,left,HIGH,1.0
3,Akkadian Times,http://akkadiantimes.com,left,HIGH,1.0
4,Alliance for Justice (AFJ),https://www.afj.org/,left,HIGH,1.0
...,...,...,...,...,...
1599,World Magazine,https://world.wng.org/,right,MIXED,0.0
1600,World Tribune,http://worldtribune.com/,right,HIGH,0.0
1601,YellowHammer News,http://yellowhammernews.com/,right,HIGH,0.0
1602,Young America’s Foundation (YAF),https://www.yaf.org,right,HIGH,0.0
1603,Young Conservatives,http://www.youngcons.com/,right,MIXED,0.0

In [ ]:
target_df = df[['site_name', 'bias']].copy()
target_df

                             site_name  bias
0                               Act.TV   1.0
1                       Addicting Info   1.0
2                             Advocate   1.0
3                       Akkadian Times   1.0
4           Alliance for Justice (AFJ)   1.0
...                                ...   ...
1599                    World Magazine   0.0
1600                     World Tribune   0.0
1601                 YellowHammer News   0.0
1602  Young America’s Foundation (YAF)   0.0
1603               Young Conservatives   0.0

[1604 rows x 2 columns]

In [ ]:
target_df.to_csv("/content/drive/MyDrive/Schoolwork/Big Data Final/target_data.csv")